<ion-view title="Culturas" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="culturas-container9" class="button_Nema creator-container"></div>
    <div id="culturas-container8" class="button_Nema creator-container"></div>
    <div id="culturas-container7" class="button_Nema creator-container"></div>
    <div id="culturas-container6" class="button_Nema creator-container"></div>
    <div id="culturas-container5" class="button_Nema creator-container"></div>
  </ion-content>
</ion-view>