<ion-view title="Nema" hide-nav-bar="true" id="page8">
  <ion-content padding="true" style="background: url(img/C9hbF5UaTWFOMotU1Mrq_fundonema.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="logo" style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/kjFmQPTUmMc1tY0i6dQS_LogoNemaBarra.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/arkZuzYpSByXiZBJlMGY_Ativo2textoApresNema.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div>
      <img src="img/xurF52mNRtqXRmoC2nDz_ApresentNema.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <div>
      <img src="img/K8S2NfMSLOmXtOnhW53h_TabelaNema.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>