<ion-view title="Produtos" hide-nav-bar="true" id="page6">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/ZMCb6Q0qSUW466wKK7Gr_BEAUVE.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <img src="img/yzcqkYxfTC2VYkIRNlko_BT.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <img src="img/mg17M87lQgmUEh5SRqKE_METHA.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <img src="img/8Af62WORyiGkPP6DyIF0_STIMU.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <img src="img/JNlKVLK4STqjDdyQjIEx_NEMA.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <img src="img/nuyRzY1ESpuCo0DUkPUS_PFC_1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <div>
      <img src="img/eFt0OwmaQlKmjiKRobO6_VIR.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="produtos-container3" class="button_Nema creator-container"></div>
    <ion-list id="produtos-list3">
      <div class="item item-body" id="produtos-list-item-container3">
        <div id="produtos-markdown4" style="text-align:justify;" class="show-list-numbers-and-dots texto_aviso">
          <p style="margin-top:0px;color:#979191;font-size:7px;">
            <strong>ATENÇÃO</strong>
            Produto perigoso à saúde humana, animal e ao meio ambiente. Leia atentamente e siga rigorosamente as instruções contidas no rótulo, bula e receita. Utilize sempre os equipamentos de proteção individual (EPI´s). Proibida a utilização do produto por menores
            de idade. Não coma, não beba e não fume durante o manuseio do produto. Aplique as doses especificadas e recomendadas na bula do produto. Primeiros socorros e demais informações, vide o rótulo, a bula e a receita agronômica. Descarte as embalagens
            e restos de produtos dentro das norma, e não reutilize as embalagens vazias. Sempre inclua outros métodos de controle de pragas, seguindo o MIP. PRODUTO PARA USO AGRÍCOLA. VENDA SOB RECEITUÁRIO AGRONÔMICO. CONSULTE SEMPRE UM ENGENHEIRO AGRÔNOMO.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>